*{
    user-select: none;
}
#cookie {
    max-width: 250px;
    width: 100%;
    border-radius: 25px;
    transition:0.7s ease;
    cursor: pointer;
}
#cookie:hover{
    max-width: 350px;
    width: 100%;
    border-radius: 25px;
    transition:0.7s ease;
}
#clickUpgrade:hover{
    font-size: 40px;
}
#counter{
font-size: xx-large;
text-align: center;
background-color: aliceblue;
border-radius: 25px;
border: solid black 2px;
width: 100%;
}
.stred{
    display: flex;
    justify-content: space-evenly;
}
.suse{
    border-radius: 25px;
border: solid black 2px;
}
body{
    background-color: blue;
    padding-top: 16px;
}

#clickUpgrade{
    font-size: 30px;
    border-radius: 24px;
    cursor: pointer;
    transition:0.7s ease;
}